
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('iron.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.clock-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
    color: transparent;
}

#clock {
    font-size: 48px;
    color: white;
    font-family: 'Arial', sans-serif;
    margin-bottom: 10px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e64a19;
}
